@use '../base' as *;

.main {
  display: flex;
  gap: size(10);
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    width: col(6);
    height: 100%;
    padding: size(10) 0;
    padding-left: 100px;
    padding-right: 140px;

    .back {
      display: flex;
      position: fixed;
      top: size(8);
      left: 40px;
      color: var(--clr-gray-400);
    }

    h2 {
      margin-top: 140px;
      display: flex;
      line-height: 1;
      font-size: fontSize(5xl);
      font-weight: 600;
      font-family: var(--font-poppins);
    }

    .info {
      display: flex;
      margin-top: size(16);
      margin-bottom: size(16);
      font-size: fontSize(lg);
      width: col(11);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: size(5);

      .submit_button {
        margin-top: size(5);
      }
    }
  }

  .image {
    display: flex;
    width: col(6);
    position: fixed;
    top: size(4);
    bottom: size(4);
    right: size(4);
    justify-content: center;
    align-items: center;
    background: #fff7f4;
    overflow: hidden;
    border-radius: 24px;

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      width: 80%;
      position: relative;
      overflow: hidden;

      img {
        display: flex;
        object-fit: contain;
      }
    }
  }
}
