@use '../base' as *;

.main {
  display: flex;
  gap: size(10);
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    width: col(6);
    height: 100%;
    padding: size(10) 0;
    padding-left: size(16);
    padding-right: 100px;

    button {
      transition: all 1.2s ease-in-out;

      &:hover {
        transform: translateY(-8px);
      }
    }

    .back {
      display: flex;
      position: fixed;
      top: size(6);
      left: 64px;
    }

    h2 {
      margin-top: 80px;
      display: flex;
      line-height: 1;
      font-size: fontSize(5xl);
      font-weight: 600;
      font-family: var(--font-poppins);
      width: col(8);
    }

    form {
      margin-top: size(16);
      display: flex;
      flex-direction: column;
      gap: size(5);

      .forgot {
        display: flex;
        justify-content: flex-end;

        button {
          transition: all 0.7s ease-in-out;

          &:hover {
            transform: translateX(-8px);
          }
        }
      }

      .submit_button {
        margin-top: size(10);
      }
    }

    .other_options_label {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: size(10);
      color: var(--clr-gray-500);
    }

    .actions {
      display: flex;
      align-items: center;
      gap: size(6);
      margin-top: size(16);

      button {
        background: var(--clr-gray-100);
        color: var(--clr-black);
      }
    }
  }

  .image {
    display: flex;
    width: col(6);
    position: fixed;
    top: size(4);
    bottom: size(4);
    right: size(4);
    justify-content: center;
    align-items: center;
    background: #fff3f6;
    overflow: hidden;
    border-radius: 24px;

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      width: 80%;
      position: relative;
      overflow: hidden;

      img {
        display: flex;
        object-fit: contain;
      }
    }
  }
}
