@use 'base' as *;
// import the icons
@import '~@flaticon/flaticon-uicons/css/all/all';

:root {
  // color css variables
  @each $color, $value in $colors {
    @if type-of($value) == 'map' {
      @each $shade, $shadeColor in $value {
        --clr-#{$color}-#{$shade}: #{$shadeColor};
      }
    } @else {
      --clr-#{$color}: #{$value};
    }
  }
}

// preset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-white);
  color: var(--clr-black);
  font-size: 17px;
  font-weight: normal;
  font-family: var(--font-dm-sans);
  line-height: 1.6;
  min-height: 100vh;
}

.fi {
  display: flex;
  justify-content: center;
  align-items: center;
}
