@use '../../base' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 17px;
  font-weight: 500;
  padding: size(1) size(4);
  cursor: pointer;
  gap: size(4);

  i {
    font-size: fontSize(xl);
  }
}
